@define mouseWheelScroll:  150px;
@define asyncDestroyDelay: 0.2s;
@define scrollPadding: 100px;

Spring2016RewardList {
    overflow: clip;
    opacity-mask: url("s2r://panorama/images/masks/softedge_horizontal_png.vtex");
}

.RewardListContainer {
    width: 100%;
    height: 100%;
}

#RewardItems,
#RewardPath {
    width: 100%;
    height: 100%;
}

#RewardPath {
    transform: rotateX(55deg) translateY(48px) translateZ(0px);
}

#RewardItems {
    margin-top: 20px;
    margin-bottom: 124px;
    transform: translateZ(0px);
}

#RewardPath > .PathNode,
#RewardItems > .ItemNode {
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.2s;
}

#RewardPath > .PathNode.LevelActive,
#RewardItems > .ItemNode.LevelActive {
    opacity: 1;

    transition-property: transform, opacity, brightness;
    transition-duration: 0.3s, 0.2s;
}

.Dragging #RewardPath > .PathNode.LevelActive,
.Dragging #RewardItems > .ItemNode.LevelActive {
    transition-property: transform, opacity;
    transition-duration: 0s, 0.2s;
}

#RewardPath > .PathNode.LevelActive.Destroying,
#RewardItems > .ItemNode.LevelActive.Destroying {
    opacity: 0;
}

.PathNodeDefault {
    height: 100%;
}

.PathNodeDefault .PathNodeContents {
    vertical-align: bottom;
    margin: 0px 4px;
    padding: 4px;
    width: 100%;
    height: 100px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#541b1d), to(#872a2e));
    margin-bottom: 92px;
    margin-right: 4px;
    margin-left: 4px;
    border: 2px solid #8b3e42;
}

.ImportantLevel.PathNodeDefault .PathNodeContents {
    brightness: 2;
}

.AlreadyClaimed.ImportantLevel.PathNodeDefault .PathNodeContents {
    brightness: 1;
}

.PathNodeDefault.Achieved:not(.AlreadyClaimed) .PathNodeContents {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#66281f), to(#a6352b));
    border: 6px solid #bf686d;

    animation-name: ClaimBorderPulse;
    animation-duration: 0.64s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes 'ClaimBorderPulse' {
    from {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#66281f), to(#bf686d));
        border: 2px solid #bf686dff;
    }
    50% {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#66281f), to(#a6352b));
        border: 2px solid #bf686d00;
    }
    to {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#66281f), to(#bf686d));
        border: 2px solid #bf686dff;
    }
}

.PathNodeDefault:not(.Achieved) .PathNodeContents {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#351d1a22), to(#582e2a22));
    border: 2px solid #4a2c2c22;
}

.ImportantLevel.PathNodeDefault:not(.Achieved) .PathNodeContents {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#351d1a55), to(#582e2a55));
    border: 2px solid #a7362d55;
}

.ImportantLevel.PathNodeDefault:not(.Achieved) .PathNodeContents > Label {
    color: #a7362d;
}

.PathNodeDefault .PathNodeContents > Label {
    color: black;
    font-size: 52px;
    text-overflow: shrink;
    vertical-align: middle;
    horizontal-align: center;
    text-align: center;
    margin-top: 12px;
    padding: 6px;
}

#LevelNumber1 {
    transform: translateY(4px);
    color: black;
    text-shadow: 0px 0px 8px 3 #000000;
    visibility: collapse;
}

.NoRewardType #LevelNumber2 {
    visibility: collapse;
}

.PathNodeDefault.Achieved {
    visibility: visible;
}

.PathNodeDefault.Achieved .PathNodeContents > Label {
    color: white;
}

.PathNodeTile {
    background-color: gradient(
        linear,
        0% 0%,
        0% 100%,
        from(#2a242200),
        color-stop(0.5, #2a2422aa),
        color-stop(0.55, #2a2422dd),
        color-stop(0.74, #2a2422dd),
        color-stop(0.8, #2a2422aa),
        to(#2a242200)
    );
    width: 100%;
    height: 100%;
    margin-right: 4px;
    margin-left: 4px;
}

.Achieved .PathNodeTile {
    background-color: gradient(
        linear,
        0% 0%,
        0% 100%,
        from(#6f383600),
        color-stop(0.5, #6f3836aa),
        color-stop(0.55, #6f3836dd),
        color-stop(0.74, #6f3836dd),
        color-stop(0.8, #6f3836aa),
        to(#6f383600)
    );
}

.ItemNodeDefault {
    height: 100%;
}

.ItemNodeDefault #ItemContainer {
    flow-children: up;
    width: 100%;
    margin-bottom: 26px;
    height: 100%;

    transition-property: wash-color, saturation;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.ItemGlow {
    width: 100%;
    height: 100%;
    margin-right: 6px;
    margin-left: 6px;
    background-color: gradient(
        linear,
        0% 0%,
        0% 100%,
        from(#b9434a00),
        color-stop(0.65, #b9434a66),
        color-stop(0.9, #b9434a00),
        to(#b9434a00)
    );
    opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
    opacity: 0;

    animation-name: GlowPulse;
    animation-duration: 1.61s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    transition-property: opacity;
    transition-duration: 0.32s;
}

@keyframes 'GlowPulse' {
    0% {
        background-color: gradient(
            linear,
            0% 0%,
            0% 100%,
            from(#b9434a00),
            color-stop(0.25, #b9434a11),
            color-stop(0.65, #b9434a66),
            color-stop(0.9, #b9434a00),
            to(#b9434a00)
        );
    }

    50% {
        background-color: gradient(
            linear,
            0% 0%,
            0% 100%,
            from(#b9434a00),
            color-stop(0.65, #b9434a33),
            color-stop(0.75, #b9434aaa),
            color-stop(0.9, #b9434a00),
            to(#b9434a00)
        );
    }

    100% {
        background-color: gradient(
            linear,
            0% 0%,
            0% 100%,
            from(#b9434a00),
            color-stop(0.25, #b9434a11),
            color-stop(0.65, #b9434a66),
            color-stop(0.9, #b9434a00),
            to(#b9434a00)
        );
    }
}

.Achieved.ItemNodeDefault:not(.AlreadyClaimed) .ItemGlow {
    opacity: 1;
}

.NoRewardType .ItemGlow {
    opacity: 0;
}

.ItemNodeDefault #ItemContainer > DOTAEconItem,
.ItemNodeDefault #ItemContainer > Image {
    horizontal-align: center;
    tooltip-body-position: 50% 50%;
}

.MysteryWheelRewardType #ItemContainer > Image {
    height: 92px;
    width: 92px;
    margin-left: -4px;
    margin-bottom: 6px;

    pre-transform-scale2d: 0.8;
    brightness: 0.8;
    transform-origin: 50% 70%;

    transition-property: pre-transform-scale2d, brightness;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    animation-duration: 1.8s;
    animation-delay: 1.15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.MysteryWheelRewardType.Achieved:not(.AlreadyClaimed) #ItemContainer > Image {
    animation-name: HeadShake;
}

.MysteryWheelRewardType.Achieved:not(.AlreadyClaimed) #ItemContainer > Image:hover {
    border: 1px solid transparent;
    brightness: 1.1;
    pre-transform-scale2d: 1;
}

@keyframes 'HeadShake' {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(10deg);
    }
    20% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(5deg);
    }
    40% {
        transform: rotateZ(-5deg);
    }

    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

#ClaimButton {
    vertical-align: bottom;
    margin: 0px 4px;
    visibility: collapse;
    margin-bottom: 52px;
    height: 140px;
    width: 100%;
}

#ClaimButton Label {
    horizontal-align: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    vertical-align: middle;
    margin-top: 92px;
    text-overflow: shrink;

    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 0px 8px 2 #ff0000;
    font-weight: bold;
    animation-name: ClaimLabelGlow;
    animation-duration: 0.64s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes 'ClaimLabelGlow' {
    from {
        color: #bf686d;
        text-shadow: 0px 0px 18px 2 #ff0000ff;
    }
    50% {
        color: white;
        text-shadow: 0px 0px 18px 2 #ff000033;
    }
    to {
        color: #bf686d;
        text-shadow: 0px 0px 18px 2 #ff0000ff;
    }
}

.Achieved:not(.AlreadyClaimed):hover {
    brightness: 2;
}

#ClaimButton:hover {
    brightness: 2;
}

.Achieved:not(.AlreadyClaimed) #ClaimButton {
    visibility: visible;
}

#ClaimButton:active {
    brightness: 1;
}

#ClaimButton:active Label {
    animation-name: none;
    color: white;
    text-shadow: 0px 0px 18px 2 #ff6861;
}

.MultipleItemRewardAmount {
    color: white;
    vertical-align: bottom;
    horizontal-align: right;
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 0px 18px 2 black;
}

@define rewardEmptyWidth: 20px;
@define rewardDefaultWidth: 100px;

@define level1Width: 768px;

#Path1.PathNode {
    height: 100%;
}

#Path1.PathNode .PathNodeContents {
    vertical-align: bottom;
    margin: 0px 4px;
    padding: 4px;
    width: 100%;
    height: 100px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#541b1d), to(#872a2e));
    margin-bottom: 92px;
    margin-right: 4px;
    margin-left: 4px;
    border: 2px solid #8b3e42;
}

.SelfEventNeedsActivate #Path1.PathNode .PathNodeContents,
.SelfEventUpsell #Path1.PathNode .PathNodeContents {
    border-color: #963a33;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#362321), to(#4f2e2b));
}

.SelfEventNeedsActivate #Path1.PathNode .PathNodeContents Label,
.SelfEventUpsell #Path1.PathNode .PathNodeContents Label {
    color: #a9372e;
}

#Path1.PathNode .PathNodeContents Label {
    vertical-align: middle;
    horizontal-align: center;
    color: white;
    font-size: 36px;
    text-shadow: 0px 0px 8px 3 #000000;
}

#Item1.ItemNode {
    height: 100%;
}

#Item1.ItemNode .Level1Contents {
    width: 100%;
    height: 100%;
    margin-right: 4px;
    margin-bottom: 0px;
    background-color: gradient(
        linear,
        0% 0%,
        0% 100%,
        from(#b9434a00),
        color-stop(0.85, #b9434a11),
        color-stop(0.95, #b9434a00),
        to(#b9434a00)
    );
    padding: 20px;
    flow-children: right-wrap;
}

#Item1.ItemNode .Level1Contents > Label {
    color: white;
    vertical-align: middle;
    horizontal-align: center;
    text-align: center;
}

.Level1Icon {
    width: 78px;
    height: 84px;
}

#BigDealItem {
    background-image: url("s2r://panorama/images/control_icons/starfilled_psd.vtex");
    background-size: contain;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    horizontal-align: center;
    margin-bottom: 82px;
    visibility: collapse;
    wash-color: #a9372e;
    opacity: 0.5;
}

.ImportantLevel #BigDealItem {
    visibility: collapse;
}

.AlreadyClaimed.ImportantLevel #BigDealItem {
    visibility: collapse;
}

@define level225Width: 300px;

#Item225.ItemNode {
    height: 100%;
}

.Level225Contents {
    tooltip-position: bottom;
    tooltip-body-position: 50%;
}

#Item225.ItemNode .Level225Contents {
    width: 100%;
    height: 100%;
    margin-right: 4px;
    margin-bottom: 0px;
}

#Item225.ItemNode .Level225Contents > DOTAUIEconSetPreview:hover {
    brightness: 2;
}

#Item225.ItemNode .Level225Contents > DOTAUIEconSetPreview:active {
    brightness: 1.5;
}

#Item225.ItemNode .Level225Contents > DOTAUIEconSetPreview {
    transform: translateY(8px);
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

    transition-property: brightness;
    transition-duration: 0.2s;
}

#Item225.ItemNode #BigDealItem {
    vertical-align: top;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 200px;
    width: 100%;
    height: 100%;
}

#Path225.PathNode .PathNodeContents {
    border-color: #9c3329;
}

#Path225 .PathNodeTile {
    wash-color: red;
}

#Path225 #QuestUnlockLabel {
    font-size: 16px;
    vertical-align: bottom;
    padding: 0px;
    text-transform: uppercase;
    text-overflow: shrink;
}

#Path225 Label {
    color: #a9372e;
}

#Path225.PathNodeDefault.Achieved:not(.AlreadyClaimed) Label {
    color: white;
}

#Path225.PathNodeDefault.AlreadyClaimed Label {
    color: white;
}

@define level1000Width: 300px;

#Item1000.ItemNode .Level1000Contents {
    width: 100%;
    height: 100%;
    margin-right: 4px;
    margin-bottom: 0px;
}

#Aegis {
    width: 100%;
    height: 100%;
    horizontal-align: center;
    vertical-align: bottom;
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel {
    width: 380px;
    height: 380px;

    transition-property: brightness;
    transition-duration: 0.2s;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel:hover {
    brightness: 3;
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel:active {
    brightness: 1.5;
}

@define level2000Width: 200px;

#Item2000.ItemNode {
    height: 100%;
}

#Item2000.ItemNode .Level2000Contents {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-bottom: 0px;

    overflow: noclip;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item2000.ItemNode .Level2000Contents > DOTAUIEconSetPreview:hover {
    brightness: 2;
}

#Item2000.ItemNode .Level2000Contents > DOTAUIEconSetPreview:active {
    brightness: 1.5;
}

#Item2000.ItemNode .Level2000Contents > DOTAUIEconSetPreview {
    width: 400px;
    height: 244px;

    transform: translateX(-94px);

    transition-property: brightness;
    transition-duration: 0.2s;
}

#Item2000.ItemNode #BigDealItem {
    vertical-align: top;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 200px;
    width: 100%;
    height: 100%;
}

#Path2000.PathNode .PathNodeContents {
    border-color: #9c3329;
}

#Path2000 #QuestUnlockLabel {
    font-size: 16px;
    vertical-align: bottom;
    padding: 0px;
    text-transform: uppercase;
    text-overflow: shrink;
}

#Path2000 Label {
    color: #a9372e;
}

#Path2000.PathNodeDefault.Achieved:not(.AlreadyClaimed) Label {
    color: white;
}

#Path2000.PathNodeDefault.AlreadyClaimed Label {
    color: white;
}

@define level75Width: 108px;

#Path75 .PathNodeContents {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#84292d), to(#a19087));
    border: 2px solid #8b3e42;
}
.LevelTierBadge {
    width: 74px;
    height: 98px;
    horizontal-align: center;
    vertical-align: middle;
    background-image: url("s2r://panorama/images/compendium/spring2016/home_block_backgrounds/shield_silver_psd.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    transform: translateY(10px) translateX(2px);
}

#TierLabel {
    color: #c8bcb8;
    horizontal-align: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 300px;
    text-shadow: 0px 2px 4px 3 #000000;
}

#TierGold {
    horizontal-align: right;
    background-image: url("s2r://panorama/images/compendium/spring2016/home_block_backgrounds/shield_gold_psd.vtex");
    transform: translateY(-8px) translateX(16px);
}

#Path225 #TierGold {
    pre-transform-scale2d: 0.8;
}

#Path225 #TierLabel {
    horizontal-align: right;
    margin-right: 12px;
    color: #d4ab77;
}

#TierMax {
    horizontal-align: right;
    background-image: url("s2r://panorama/images/compendium/spring2016/home_block_backgrounds/shield_max_psd.vtex");
    transform: translateY(0px);
}

#Path1000 #TierGold {
    pre-transform-scale2d: 0.8;
}

#Path1000 #TierLabel {
    horizontal-align: right;
    margin-right: 12px;
    color: #923029;
}

#LCTease {
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/compendium/spring2016/lc_tease_psd.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

#LCComingSoon {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    background-color: #a9372e;
    padding: 8px 12px 4px 12px;
    font-weight: bold;
    border-radius: 6px;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 12px;
    box-shadow: fill #00000088 0px 0px 4px 0px;
}

@define rewardEllipsisWidth: 350px;

.ItemNodeEllipsis {
    height: 100%;
}

.ItemNodeEllipsis .EllipsisContents {
    padding: 20px;
    margin-left: 4px;
    width: 100%;
    height: 100%;
    background-color: gradient(
        linear,
        0% 0%,
        0% 100%,
        from(#b9434a00),
        color-stop(0.85, #b9434a11),
        color-stop(0.95, #b9434a00),
        to(#b9434a00)
    );
}

.ItemNodeEllipsis .EllipsisTextContents {
    vertical-align: middle;
    width: 100%;
    flow-children: down;
}

.ItemNodeEllipsis .EllipsisTextContents > Label {
    text-align: center;
    horizontal-align: center;
}

.ItemNodeEllipsis .EllipsisTitle {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    margin-bottom: 4px;
}

.ItemNodeEllipsis .EllipsisDescription {
    color: #999;
}

#RewardPath .MysteryWheelRewardType .PathNodeContents {
    background-image: url("s2r://panorama/images/compendium/spring2016/spinwheel_icon_psd.vtex");
    background-size: contain;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 100%;
    height: 96px;

    margin-bottom: 94px;
    saturation: 0.5;
    brightness: 0.1;

    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#RewardPath .MysteryWheelRewardType.Achieved .PathNodeContents {
    saturation: 1;
    brightness: 1;
}
