#Contents {
    flow-children: down;
}

.Row {
    margin-right: 4px;
    margin-bottom: 2px;
    padding: 2px;
}

.Row.Dire {
    background-color: gradient(linear, 0% 0%, 100% 0%, from(#e74d088f), to(#00000000));
}

.Row.Radiant {
    background-color: gradient(linear, 0% 0%, 100% 0%, from(#9be40c22), to(#00000000));
}

.Row DOTAItemImage {
    width: 50px;
    horizontal-align: left;
}

.Row Label {
    color: white;
    font-size: 16px;
}

.ItemName {
    margin-left: 56px;
    text-transform: uppercase;
}

.PurchaseTime {
    margin-left: 56px;
    margin-top: 20px;
}

#ColorBar {
    vertical-align: center;

    height: 2px;
    margin-right: 2px;
    width: 20px;
}
