.Title {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 4px;
}

.Center {
    flow-children: right;
    margin-top: 48px;
}
.Center .OldManIcon {
    width: 128px;
    height: 128px;
    texture-sampling: point;
    margin: 0px 48px;
    vertical-align: middle;
}

.Tokens {
    horizontal-align: center;
    flow-children: right;
    margin-top: 48px;
}
.Tokens DOTACrownfallToken {
    ui-scale: 340%;
    margin: -8px;
    width: 44px;
}

.BodyContainer {
    vertical-align: center;
}
